@import "tailwindcss";

/* Fonts */

.love-font {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style : normal;
}


.open-sans {
  font-family            : "Open Sans", sans-serif;
  font-optical-sizing    : auto;
  font-weight            : <weight>;
  font-style             : normal;
  font-variation-settings: "wdth" 100
}
  /* Tailwind Class */

.container-fluid {
  @apply w-full max-w-[1280px] min-w-[320px]
}

